body {
  font-size: 1.3rem;

}

header {
  padding: 0px;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

.stylePrueba {
  width: 18rem;
}

.fondo-de-pantalla {
  background-image: url('./img/4814531.jpg');
  background-position: center;
  /* Centra la imagen en el contenedor */
}

.pie-de-tarjeta {
  background-color: rgb(52 58 64);
}

#contenedor {
  padding: 50px;
  padding-left: 50px;
}

.pading-top {
  padding-top: 70px;
}